.my-div-style {
    margin-top: 6rem;
  }

.content {
    margin-top: -70px;
    text-align: center;
  }

footer {
    width: 100%;
    bottom: 0;
    margin-top: auto;
}

body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

