{% extends 'base.html' %}
{% load static %}

{% block title %}日記作成 | Private Grayscale{% endblock %}

{% block active_grayscale_list %}active{% endblock %}

{% block contents %}
<div class="container my-div-style">
    <h1>日記作成</h1>
    <div class="row">
        <form method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="table">
                {{ form.as_table }}
            </table>
            <button class="btn btn-primary" type="submit">作成</button>
            <a href="{% url 'grayscale:grayscale_list'%}"><button type="button" class="btn btn-primary">戻る</button></a>
        </form>
    </div>
</div>
{% endblock %}